<section id="values" class="values">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div
          class="card"
          style="background-image: url(assets/img/values-1.jpg);"
        >
          <div class="card-body">
            <img
              class="logo"
              src="assets/joy_logo.jpg"
              alt=""
              width="100px"
              height="100px"
            />
            <h5 class="card-title">Primary (2014)</h5>
            <p class="card-text">Joy Kindergarten - Kinder and Preparatory</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div
          class="card"
          style="background-image: url(assets/img/values-2.jpg);"
        >
          <div class="card-body">
            <img
              class="logo"
              src="assets/dau_logo.jpg"
              alt=""
              width="100px"
              height="100px"
            />
            <h5 class="card-title">Elementary (2014)</h5>
            <p class="card-text">
              Dau Central Elementary School <br />
              Grade 1 - 6 (Special Education)
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div
          class="card"
          style="background-image: url(assets/img/values-3.jpg);"
        >
          <div class="card-body">
            <!-- PROPERTY BINDING -->
            <img
              class="logo"
              [src]="mySchool"
              alt=""
              width="100px"
              height="100px"
            />
            <h5 class="card-title">High School (2018)</h5>
            <p class="card-text">
              Holy Angel University <br />
              Junior High School <br />
              Senior High School
            </p>
          </div>
          <!-- END OF PROPERTY BINDING -->
        </div>
      </div>
      <div
        class="col-md-6 d-flex align-items-stretch mt-4"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="card" style="background-image: url(assets/hau_logo.png);">
          <div class="card-body">
            <img
              class="logo"
              src="assets/hau_logo.png"
              alt=""
              width="100px"
              height="100px"
            />
            <h5 class="card-title">College (2024)</h5>
            <p class="card-text">Holy Angel University</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
