<section id="testimonials" class="testimonials">
  <div class="container position-relative" data-aos="fade-up">
    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <!-- STYLE BINDING FONT COLOR -->
            <h3 [style.color]="myColor">Cacayan, Ara Jenica C.</h3>
            <h4>Accountant &amp; Accounting Consultant</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              email: accacayan15@gmail.com <br />
              phone: (+63)-947-709-7569
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <h3 [style.color]="myColor">Macapagal, Catherine</h3>
            <h4>Sales Manager</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              email: chayemacapagal@gmail.com <br />
              phone: (+63)-991-021-4576
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="testimonial-item">
            <h3 [style.color]="myColor">Macapagal, Eridhel</h3>
            <h4>Senior Developer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              email: eridhel@gmail.com <br />
              phone: (+63)-956-792-4389
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>
        <!-- END OF STYLE BINDING -->
        <img src="/assets/cert.png" alt="" />
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- EVENT BINDING -->
    <button (click)="showData($event)">Download Here</button><br />
    <button (click)="sendData($event)">Send Website</button>
    <!-- END OF EVENT BINDING -->
  </div>
</section>
