h3 {
  color: #0c946c;
}
.section-title p {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 40px;
}
.col-lg-3 .plan {
  margin-bottom: 22px;
}
.col-lg-3 .list {
  margin-bottom: 37px;
}
.green {
  color: #0c946c;
}
.blue {
  color: blue;
}
