<section id="pricing" class="pricing">
  <div class="container">
    <div class="section-title">
      <!-- CLASS BINDING -->
      <h2 data-aos="fade-up" [class]="appliedCSSClass">Skills</h2>
      <!-- END OF CLASS BINDING -->
      <p data-aos="fade-up">
        Andrew Ginelle P. Macapagal &bull; (+63) 998-237-5385 &bull;
        andrew.macapagal19@gmail.com
      </p>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6" data-aos="fade-up">
        <div class="box">
          <h3>Communication</h3>
          <p>
            &bull; Excellent customer service abilities. Ensures effective
            contact with internal and external clients at all levels via phone
            and email by actively listening and asking intelligent questions.
            <br /><br />
          </p>
          <div class="progress">
            <div
              class="
                progress-bar progress-bar-striped progress-bar-animated
                bg-success
              "
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 90%;"
            ></div>
          </div>
          <div class="btn-wrap"></div>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 mt-4 mt-md-0"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="box featured">
          <h3>Team Player</h3>
          <p>
            &bull; Enjoys imparting knowledge and fostering the growth of others
            to attain team objectives. <br /><br /><br /><br />
          </p>
          <div class="progress">
            <div
              class="
                progress-bar progress-bar-striped progress-bar-animated
                bg-warning
              "
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 87%;"
            ></div>
          </div>
          <div class="btn-wrap"></div>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="box">
          <h3>Planning and Organizing</h3>
          <p class="plan">
            &bull; Improved planning and administrative skills that enable the
            balancing of work, team support, and ad hoc duties.
          </p>
          <div class="progress">
            <div
              class="
                progress-bar progress-bar-striped progress-bar-animated
                bg-danger
              "
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 89%;"
            ></div>
          </div>
          <div class="btn-wrap"></div>
        </div>
      </div>

      <div
        class="col-lg-3 col-md-6 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="box">
          <h3>Developing</h3>
          <ul class="list">
            <li>HTML and CSS</li>
            <li>Python</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>sQL</li>
          </ul>
          <div class="progress">
            <div
              class="
                progress-bar progress-bar-striped progress-bar-animated
                bg-info
              "
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 88%;"
            ></div>
          </div>
          <div class="btn-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
