<section id="services" class="services section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Achievements and Certifications</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="fade-up">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Junior High School</a></h4>
          <ul>
            <li>Rank 1 (Grade 9)</li>
            <li>Rank 10 (Grade10)</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Senior High School</a></h4>
          <ul>
            <li>Rank 1 (Grade 11)</li>
            <li>Rank 5 (Grade 11 Second Semester)</li>
            <li>Rank 4 (Grade 12)</li>
            <li>Rank 3 (Grade 12 Second Semester)</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">College</a></h4>
          <ul>
            <li>Dean's Lister (1st Year, 1st Semester)</li>
            <li>President's Lister (1st Year, 2nd Semester)</li>
            <li>Dean's Lister (2nd Year, 1st Semester)</li>
            <li>Dean's Lister (2nd Year, 2nd Semester)</li>
            <li>Dean's Lister (3rd Year, 1st Semester)</li>
          </ul>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-delay="300"
        id="cert"
      >
        <div class="icon-box">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Certifications</a></h4>
          <ul>
            <li>CISCO Certification</li>
            <li>Google Analytics Academy (Google Analytics)</li>
            <li>Google Analytics Academy (Google Data Studio)</li>
            <li>OPTIMAL PRIME: Seminar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
